=begin
#Documentazione API e ambiente di test

#<p> <p> <u>ATTENZIONE: Il progetto attualmente è ancora in fase di sviluppo e verrà arricchito man mano con altre funzioni. Per eventuali segnalazioni riguardanti malfunzionamenti o suggerimenti contattare l'assistenza di Fatture In Cloud. Si raccomanda inoltre di controllare periodicamente il CHANGELOG delle utime modifiche effettuate.</u> </p> <p>Il modello attuale prevede una richiesta di tipo POST, con i parametri codificati in formato JSON nel corpo della richiesta stessa. I formati dei parametri sono elencati nella tabella sottostante e variano a seconda della tipologia.</p> <h4>Formato dei parametri:</h4> <p> <table class=\"fullwidth\"> <thead><tr><th><b>Tipo</b></th><th>Descrizione</th><th>Esempio</th></tr></thead> <tbody class=\"operation-status\"> <tr><td><b>string</b></td><td>Stringa</td><td>\"stringa\"</td></tr> <tr><td><b>integer</b></td><td>Numero intero</td><td>\"123\" o 123</td></tr> <tr><td><b>double</b></td><td>Numero decimale</td><td>\"123.45\" o 123.45</td></tr> <tr><td><b>boolean</b></td><td>Variabile booleana</td><td>\"true\", true, \"false\" o false</td></tr> <tr><td><b>date</b></td><td>Data nel formato dd/MM/yyyy</td><td>\"01/01/2015\"</td></tr> <tr><td><b>date-time</b></td><td>Data nel formato dd/MM/yyyy HH:mm:ss</td><td>\"01/01/2015 12:34:53\"</td></tr> </tbody> </table> </p> <p> I parametri <code>api_uid</code> e <code>api_key</code> sono necessari per effettuare qualsiasi operazione (vedi la <a href=\"https://secure.fattureincloud.it/api\" target=\"_blank\">pagina principale delle API</a>) e vanno inseriti come parametri JSON in tutte le richieste. </p> <p> L'endpoint di riferimento si trova all'indirizzo <a href=\"#\">https://api.fattureincloud.it/v1</a>, per cui le richieste sono nel formato <a href=\"#\">https://api.fattureincloud.it/v1/richiesta/operazione</a>. </p> <p> L'esempio di richiesta generica contiene una lista dei codici di errore comuni a tutte le richieste, mentre eventuali altri errori specifici ad una funzione sono elencati nella sezione della funzione stessa. </p>  </p>

OpenAPI spec version: 0.9.14

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module FattureInCloud
  class AnagraficaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Elimina cliente o fornitore
    # Elimina definitivamente un cliente o fornitore.
    # @param soggetto Soggetto di interesse
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [GenericSuccessResponse]
    def anagrafica_elimina(soggetto, body, opts = {})
      data, _status_code, _headers = anagrafica_elimina_with_http_info(soggetto, body, opts)
      data
    end

    # Elimina cliente o fornitore
    # Elimina definitivamente un cliente o fornitore.
    # @param soggetto Soggetto di interesse
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericSuccessResponse, Fixnum, Hash)>] GenericSuccessResponse data, response status code and response headers
    def anagrafica_elimina_with_http_info(soggetto, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnagraficaApi.anagrafica_elimina ...'
      end
      # verify the required parameter 'soggetto' is set
      if @api_client.config.client_side_validation && soggetto.nil?
        fail ArgumentError, "Missing the required parameter 'soggetto' when calling AnagraficaApi.anagrafica_elimina"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['clienti', 'fornitori'].include?(soggetto)
        fail ArgumentError, "invalid value for 'soggetto', must be one of clienti, fornitori"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AnagraficaApi.anagrafica_elimina"
      end
      # resource path
      local_var_path = '/{soggetto}/elimina'.sub('{' + 'soggetto' + '}', soggetto.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GenericSuccessResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnagraficaApi#anagrafica_elimina\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Elenco clienti o fornitori
    # Restituisce la lista contenente i dati di clienti o fornitori. I risultati possono essere filtrati (vedi modello richiesta) e vengono organizzati in pagine per evitare risposte troppo pesanti (attualmente 500 risultati per pagina).
    # @param soggetto Soggetto di interesse
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [AnagraficaListaResponse]
    def anagrafica_lista(soggetto, body, opts = {})
      data, _status_code, _headers = anagrafica_lista_with_http_info(soggetto, body, opts)
      data
    end

    # Elenco clienti o fornitori
    # Restituisce la lista contenente i dati di clienti o fornitori. I risultati possono essere filtrati (vedi modello richiesta) e vengono organizzati in pagine per evitare risposte troppo pesanti (attualmente 500 risultati per pagina).
    # @param soggetto Soggetto di interesse
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [Array<(AnagraficaListaResponse, Fixnum, Hash)>] AnagraficaListaResponse data, response status code and response headers
    def anagrafica_lista_with_http_info(soggetto, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnagraficaApi.anagrafica_lista ...'
      end
      # verify the required parameter 'soggetto' is set
      if @api_client.config.client_side_validation && soggetto.nil?
        fail ArgumentError, "Missing the required parameter 'soggetto' when calling AnagraficaApi.anagrafica_lista"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['clienti', 'fornitori'].include?(soggetto)
        fail ArgumentError, "invalid value for 'soggetto', must be one of clienti, fornitori"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AnagraficaApi.anagrafica_lista"
      end
      # resource path
      local_var_path = '/{soggetto}/lista'.sub('{' + 'soggetto' + '}', soggetto.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AnagraficaListaResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnagraficaApi#anagrafica_lista\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Modifica cliente o fornitore
    # Modifica un cliente o fornitore esistente. In caso di parametri non specificati il corrispondente valore già presente rimane invariato.
    # @param soggetto Soggetto di interesse
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [GenericSuccessResponse]
    def anagrafica_modifica(soggetto, body, opts = {})
      data, _status_code, _headers = anagrafica_modifica_with_http_info(soggetto, body, opts)
      data
    end

    # Modifica cliente o fornitore
    # Modifica un cliente o fornitore esistente. In caso di parametri non specificati il corrispondente valore già presente rimane invariato.
    # @param soggetto Soggetto di interesse
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericSuccessResponse, Fixnum, Hash)>] GenericSuccessResponse data, response status code and response headers
    def anagrafica_modifica_with_http_info(soggetto, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnagraficaApi.anagrafica_modifica ...'
      end
      # verify the required parameter 'soggetto' is set
      if @api_client.config.client_side_validation && soggetto.nil?
        fail ArgumentError, "Missing the required parameter 'soggetto' when calling AnagraficaApi.anagrafica_modifica"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['clienti', 'fornitori'].include?(soggetto)
        fail ArgumentError, "invalid value for 'soggetto', must be one of clienti, fornitori"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AnagraficaApi.anagrafica_modifica"
      end
      # resource path
      local_var_path = '/{soggetto}/modifica'.sub('{' + 'soggetto' + '}', soggetto.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GenericSuccessResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnagraficaApi#anagrafica_modifica\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Importazione multipla clienti o fornitori
    # Crea nuovi clienti o fornitori in blocco. In caso di parametri non specificati vengono assunti quelli predefiniti.
    # @param soggetto Soggetto di interesse
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [GenericSuccessResponse]
    def anagrafica_nuovo_lista(soggetto, body, opts = {})
      data, _status_code, _headers = anagrafica_nuovo_lista_with_http_info(soggetto, body, opts)
      data
    end

    # Importazione multipla clienti o fornitori
    # Crea nuovi clienti o fornitori in blocco. In caso di parametri non specificati vengono assunti quelli predefiniti.
    # @param soggetto Soggetto di interesse
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericSuccessResponse, Fixnum, Hash)>] GenericSuccessResponse data, response status code and response headers
    def anagrafica_nuovo_lista_with_http_info(soggetto, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnagraficaApi.anagrafica_nuovo_lista ...'
      end
      # verify the required parameter 'soggetto' is set
      if @api_client.config.client_side_validation && soggetto.nil?
        fail ArgumentError, "Missing the required parameter 'soggetto' when calling AnagraficaApi.anagrafica_nuovo_lista"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['clienti', 'fornitori'].include?(soggetto)
        fail ArgumentError, "invalid value for 'soggetto', must be one of clienti, fornitori"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AnagraficaApi.anagrafica_nuovo_lista"
      end
      # resource path
      local_var_path = '/{soggetto}/importa'.sub('{' + 'soggetto' + '}', soggetto.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GenericSuccessResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnagraficaApi#anagrafica_nuovo_lista\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Nuovo cliente o fornitore singolo
    # Crea un nuovo cliente o fornitore. In caso di parametri non specificati vengono assunti quelli predefiniti.
    # @param soggetto Soggetto di interesse
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [AnagraficaNuovoSingoloResponse]
    def anagrafica_nuovo_singolo(soggetto, body, opts = {})
      data, _status_code, _headers = anagrafica_nuovo_singolo_with_http_info(soggetto, body, opts)
      data
    end

    # Nuovo cliente o fornitore singolo
    # Crea un nuovo cliente o fornitore. In caso di parametri non specificati vengono assunti quelli predefiniti.
    # @param soggetto Soggetto di interesse
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [Array<(AnagraficaNuovoSingoloResponse, Fixnum, Hash)>] AnagraficaNuovoSingoloResponse data, response status code and response headers
    def anagrafica_nuovo_singolo_with_http_info(soggetto, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnagraficaApi.anagrafica_nuovo_singolo ...'
      end
      # verify the required parameter 'soggetto' is set
      if @api_client.config.client_side_validation && soggetto.nil?
        fail ArgumentError, "Missing the required parameter 'soggetto' when calling AnagraficaApi.anagrafica_nuovo_singolo"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['clienti', 'fornitori'].include?(soggetto)
        fail ArgumentError, "invalid value for 'soggetto', must be one of clienti, fornitori"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AnagraficaApi.anagrafica_nuovo_singolo"
      end
      # resource path
      local_var_path = '/{soggetto}/nuovo'.sub('{' + 'soggetto' + '}', soggetto.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AnagraficaNuovoSingoloResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnagraficaApi#anagrafica_nuovo_singolo\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
