=begin
#Documentazione API e ambiente di test

#<p> <p> <u>ATTENZIONE: Il progetto attualmente è ancora in fase di sviluppo e verrà arricchito man mano con altre funzioni. Per eventuali segnalazioni riguardanti malfunzionamenti o suggerimenti contattare l'assistenza di Fatture In Cloud. Si raccomanda inoltre di controllare periodicamente il CHANGELOG delle utime modifiche effettuate.</u> </p> <p>Il modello attuale prevede una richiesta di tipo POST, con i parametri codificati in formato JSON nel corpo della richiesta stessa. I formati dei parametri sono elencati nella tabella sottostante e variano a seconda della tipologia.</p> <h4>Formato dei parametri:</h4> <p> <table class=\"fullwidth\"> <thead><tr><th><b>Tipo</b></th><th>Descrizione</th><th>Esempio</th></tr></thead> <tbody class=\"operation-status\"> <tr><td><b>string</b></td><td>Stringa</td><td>\"stringa\"</td></tr> <tr><td><b>integer</b></td><td>Numero intero</td><td>\"123\" o 123</td></tr> <tr><td><b>double</b></td><td>Numero decimale</td><td>\"123.45\" o 123.45</td></tr> <tr><td><b>boolean</b></td><td>Variabile booleana</td><td>\"true\", true, \"false\" o false</td></tr> <tr><td><b>date</b></td><td>Data nel formato dd/MM/yyyy</td><td>\"01/01/2015\"</td></tr> <tr><td><b>date-time</b></td><td>Data nel formato dd/MM/yyyy HH:mm:ss</td><td>\"01/01/2015 12:34:53\"</td></tr> </tbody> </table> </p> <p> I parametri <code>api_uid</code> e <code>api_key</code> sono necessari per effettuare qualsiasi operazione (vedi la <a href=\"https://secure.fattureincloud.it/api\" target=\"_blank\">pagina principale delle API</a>) e vanno inseriti come parametri JSON in tutte le richieste. </p> <p> L'endpoint di riferimento si trova all'indirizzo <a href=\"#\">https://api.fattureincloud.it/v1</a>, per cui le richieste sono nel formato <a href=\"#\">https://api.fattureincloud.it/v1/richiesta/operazione</a>. </p> <p> L'esempio di richiesta generica contiene una lista dei codici di errore comuni a tutte le richieste, mentre eventuali altri errori specifici ad una funzione sono elencati nella sezione della funzione stessa. </p>  </p>

OpenAPI spec version: 0.9.14

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module FattureInCloud
  class ProdottiApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Elimina prodotto
    # Elimina definitivamente un prodotto.
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [GenericSuccessResponse]
    def prodotti_elimina(body, opts = {})
      data, _status_code, _headers = prodotti_elimina_with_http_info(body, opts)
      data
    end

    # Elimina prodotto
    # Elimina definitivamente un prodotto.
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericSuccessResponse, Fixnum, Hash)>] GenericSuccessResponse data, response status code and response headers
    def prodotti_elimina_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProdottiApi.prodotti_elimina ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProdottiApi.prodotti_elimina"
      end
      # resource path
      local_var_path = '/prodotti/elimina'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GenericSuccessResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProdottiApi#prodotti_elimina\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Elenco prodotti
    # Restituisce la lista contenente i prodotti. I risultati possono essere filtrati (vedi modello richiesta) e vengono organizzati in pagine per evitare risposte troppo pesanti (attualmente 500 risultati per pagina).
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [ProdottiListaResponse]
    def prodotti_lista(body, opts = {})
      data, _status_code, _headers = prodotti_lista_with_http_info(body, opts)
      data
    end

    # Elenco prodotti
    # Restituisce la lista contenente i prodotti. I risultati possono essere filtrati (vedi modello richiesta) e vengono organizzati in pagine per evitare risposte troppo pesanti (attualmente 500 risultati per pagina).
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProdottiListaResponse, Fixnum, Hash)>] ProdottiListaResponse data, response status code and response headers
    def prodotti_lista_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProdottiApi.prodotti_lista ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProdottiApi.prodotti_lista"
      end
      # resource path
      local_var_path = '/prodotti/lista'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ProdottiListaResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProdottiApi#prodotti_lista\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Modifica prodotto
    # Modifica un prodotto esistente. In caso di parametri non specificati il corrispondente valore già presente rimane invariato.
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [GenericSuccessResponse]
    def prodotti_modifica(body, opts = {})
      data, _status_code, _headers = prodotti_modifica_with_http_info(body, opts)
      data
    end

    # Modifica prodotto
    # Modifica un prodotto esistente. In caso di parametri non specificati il corrispondente valore già presente rimane invariato.
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericSuccessResponse, Fixnum, Hash)>] GenericSuccessResponse data, response status code and response headers
    def prodotti_modifica_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProdottiApi.prodotti_modifica ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProdottiApi.prodotti_modifica"
      end
      # resource path
      local_var_path = '/prodotti/modifica'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GenericSuccessResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProdottiApi#prodotti_modifica\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Importazione multipla prodotti
    # Crea nuovi prodotti in blocco. In caso di parametri non specificati vengono assunti quelli predefiniti.
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [GenericSuccessResponse]
    def prodotti_nuovo_lista(body, opts = {})
      data, _status_code, _headers = prodotti_nuovo_lista_with_http_info(body, opts)
      data
    end

    # Importazione multipla prodotti
    # Crea nuovi prodotti in blocco. In caso di parametri non specificati vengono assunti quelli predefiniti.
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericSuccessResponse, Fixnum, Hash)>] GenericSuccessResponse data, response status code and response headers
    def prodotti_nuovo_lista_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProdottiApi.prodotti_nuovo_lista ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProdottiApi.prodotti_nuovo_lista"
      end
      # resource path
      local_var_path = '/prodotti/importa'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'GenericSuccessResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProdottiApi#prodotti_nuovo_lista\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Nuovo prodotto singolo
    # Crea un nuovo prodotto. In caso di parametri non specificati vengono assunti quelli predefiniti.
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [ProdottiNuovoSingoloResponse]
    def prodotto_nuovo_singolo(body, opts = {})
      data, _status_code, _headers = prodotto_nuovo_singolo_with_http_info(body, opts)
      data
    end

    # Nuovo prodotto singolo
    # Crea un nuovo prodotto. In caso di parametri non specificati vengono assunti quelli predefiniti.
    # @param body Corpo richiesta
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProdottiNuovoSingoloResponse, Fixnum, Hash)>] ProdottiNuovoSingoloResponse data, response status code and response headers
    def prodotto_nuovo_singolo_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProdottiApi.prodotto_nuovo_singolo ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ProdottiApi.prodotto_nuovo_singolo"
      end
      # resource path
      local_var_path = '/prodotti/nuovo'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ProdottiNuovoSingoloResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProdottiApi#prodotto_nuovo_singolo\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
